body {
  font-family: 'Share Tech Mono', monospace !important;
}

#buttons {
  padding-top: 20px;
  padding-bottom: 20px;
}

#sign_in_instructions {
  padding-bottom: 20px;
}

#winner {
  -webkit-animation: bounce 0.75s infinite;
}

#ctx {
}

#fullScreen {
  display: none;
}

#endScreen {
  display: none;
}

#game_over {
  margin: 30px;
}

#startScreen {
  display: none;
  /* position: fixed; */
}

#instructionsScreen {
  margin: 20px;
}

#waitingScreen {
  display: none;
}

#waiting {
  padding: 50px;
}

#text_prompts {
  margin: 10px;
}

#begin {
  padding-top: 30px;

}

#intro_bunny {
  -webkit-animation: bounce 0.75s infinite;

}

#welcome {
  -webkit-animation: bounce 0.75s infinite;
  padding-top: 40px;

}


#vid {
  position: fixed;
  z-index: -1;
  width: 725px;
  height: 408px;
  filter: opacity(60%);
  /* min-width: 100%; 
        min-height: 100%; */
}

.sign_in_text {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#game_instructions_text {
  padding-top: 40px;
}

#loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
  animation: ellipsis steps(4, end) 1500ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

#bunny_waiting {
  -webkit-animation: bounce 0.75s infinite;

}

@-webkit-keyframes move {
  from {
    transform: translateX(-1000);
  }

  to {
    transform: translateX(700px);
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 5px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -25px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }

  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }

  100% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

#leaderboardScreen{
  display:none;

}
#high_score_text{
  -webkit-animation: bounce 0.75s infinite;
}

