

#ctx{ 
 display:none;
}
#fullScreen{
    display:none;
}

#endScreen{
    display:none;
}

#startScreen {
    display:none;
}

#instructionsScreen{
    display:none;
}

#waitingScreen {
    display:none;
}