


#gameover{
  font-family: 'Share Tech Mono', monospace !important;
  color:black;
  display:none;
}

#player2score{
  padding-bottom:20px;
}

#full{
  font-family: 'Share Tech Mono', monospace !important;
  color:black;
  display:none;
}






